#dashboard-post-container{
  /* margin-left: 25%;
  margin-right: 25%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#post-container{
  border: solid 1px;
  border-radius: 20px;
  margin:20px;
  padding: 20px;
  text-align: center;
  width: 800px;
  box-shadow: 0 0  20px  grey ;
}

.post-image{
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-photo-container{
  justify-content: left;
}
