#dashboard-post-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#post-container{
  border: solid 1px;
  border-radius: 20px;
  margin:20px;
  padding: 20px;
  text-align: center;
  width: 600px;
  box-shadow: 0 0  20px  grey ;
}

.post-image{
  width: 400px;

  /* display: flex;
  justify-content: center;
  align-items: center; */
}

#profile-photo-container{
  justify-content: left;
}
