  <div id="dashboard-post-container" class="shadow-sm">
    <div *ngFor="let post of posts();" id="post-container" > <!-- cycling through posts returned by posts(), only 20 -->
      <div id="profile-photo-container">
        <app-user-info [user] = "post.user" [postedDate]="post.postSubmitted"></app-user-info> <!-- sends the user of the person who made the post to the user-info component -->
      </div>
      <div class="h6 text-body">
        <p>{{post.postDescription}}</p> <!-- getting text of post from variable in for loop -->
      </div>
      <div class="">
        <!-- <img [src]="post.postImage"  [alt]="post.postImage" class="post-image"> -->
        <img class="img-responsive d-flex rounded mt-1" [src]="post.postImage" width="100%" [alt]="post.postImage">
      </div>
      <app-user-interaction [_postID]="post.postId" [_loggedInUserID] = "_loggedInUserID"></app-user-interaction>

    </div>
  </div>




