<div class="form-forgot">
  <form class="border shadow rounded form-container text-center">
    <h3 class="fw-bolder mb-4 text-center">Forgot Password</h3>
      <div class="p-2">
          <input class="" type="email" name="email" [(ngModel)]="_emailInput"
              placeholder="Please enter a valid email address" required>
      </div>
      <h6 class="p-3 text-center">
        A link to reset your password will be sent to the email address you entered,
        if the email address matches with our records.
    </h6>
    <button type="submit" (click)="onSubmit()" class="btn btn-primary w-100">Submit</button>
  </form>
</div>
