
<form class = "signUpContainer">
<div>
<input [(ngModel)]="_username" placeholder="Username" class = "userInput" name="user">
<input [(ngModel)]="_password" type = "password" placeholder="Password" class = "userInput" name="pass">
<input [(ngModel)]="_first_name" placeholder="First Name" class = "userInput" name="first">
<input [(ngModel)]="_last_name" placeholder="Last Name" class = "userInput" name="last">
<input [(ngModel)]="_email" placeholder="Email Address" class = "userInput" name="email">
<input [(ngModel)]="_birthday" placeholder="Birthday (Optional)" class = "userInput" name="birth" type = "date">
<textarea [(ngModel)]="_about_me" placeholder="About Me (Optional)" class = "userInput" id = "aboutMe" name="about"></textarea>
<div class = "userInput">Select Profile Picture:</div>
<img [src] = "_imgURL" id = image>
<input #file type = "file" accept="image/*" class = "userInput" (change) = "fileSelected($event)">
<button id= "submitButton" (click) = "submit()">Submit</button>
</div>
</form>
