<div class="form-signup">
  <form class = "signUpContainer form-container text-center">
  <div>
    <h4 class="fw-bolder mb-4 text-center">User Registration</h4>
    <input [(ngModel)]="_username" type="text" placeholder="Username" class = "userInput" name="user">
    <input [(ngModel)]="_password" type = "password" placeholder="Password" class = "userInput" name="pass">
    <input [(ngModel)]="_first_name" type="text" placeholder="First Name" class = "userInput" name="first">
    <input [(ngModel)]="_last_name" type="text" placeholder="Last Name" class = "userInput" name="last">
    <input [(ngModel)]="_email" type="email" placeholder="Email Address" class = "userInput" name="email">
    <input [(ngModel)]="_birthday" placeholder="Birthday (Optional)" class = "userInput" name="birth" type = "date">
    <textarea [(ngModel)]="_about_me" placeholder="About Me (Optional)" class = "userInput" id = "aboutMe" name="about"></textarea>
    <div class = "userInput">
      <h6>Select Profile Picture:</h6>
      <img [src] = "_imgURL" id = image>
    </div>
    <input #file type = "file" accept="image/*" class = "userInput m-2" (change) = "fileSelected($event)">
    <button class="btn btn-primary" id= "submitButton" (click) = "submit()">Submit</button>
    </div>
  </form>
</div>
