<div class="form-reset">
    <div class="card-body">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="form-container text-center">
          <h4 class="fw-bolder mb-4 text-center">Reset Password</h4>
          <div class="form-group m-3">
            <input id="password" required type="password" formControlName="password" autocomplete="new-password" placeholder="New Password" required>
          </div>

          <div class="form-group m-3">
            <input id="comfirmPassword" required type="password" formControlName="confirmPassword" autocomplete="new-password" placeholder="Confirm Password" required>
          </div>
          <div class="form-group m-3">
              <button class="btn btn-info">Reset</button>
          </div>
        </form>
    </div>
</div>
