<div class="card">
    <h4 class="card-header">Reset Password</h4>
    <div class="card-body">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">

            <label for="password"> Password: </label>
            <div class="form-group">
                <input id="password" required type="password" formControlName="password" autocomplete="new-password">
                
            </div>
            
            <label for="comfirmPassword"> Confirm Password: </label>
            <div class="form-group">
                <input id="comfirmPassword" required type="password" formControlName="confirmPassword" autocomplete="new-password">
            </div>
            
            <div class="form-group">
                <button>
                    Reset
                </button>
            </div>
        </form>
        
    </div>

</div>