  <div class="modal-body form-edit">
    <h3 class="text-center" id="modal-basic-title">Edit Profile</h3>
    <form class = "signUpContainer form-container text-center">
      <div class = "text-center" id="image-container">
          <img [src] = "_imgURL" id="image" alt="{{_altName}}">
          <h5 class="mt-2">{{_altName}}</h5>
          <input #file type="file" id="upload" accept="image/*" class="filestyle m-2" (change) = "fileSelected($event)" data-classButton="btn btn-primary" data-input="false" data-classIcon="icon-plus" data-buttonText="Upload Photo">
      </div>
      <div>
        <input type="text" placeholder="Username" value="{{_username}}" class = "text-center" name="_username" disabled>
        <input type="text" placeholder="First Name" value="{{_first_name}}" class = "text-center" name="_first_name" [(ngModel)]="_first_name">
        <input type="text" placeholder="Last Name" value="{{_last_name}}" class = "text-center" name="_last_name" [(ngModel)]="_last_name">
        <input type="email" placeholder="Email Address"  value="{{_email}}" class = "text-center" name="_email" disabled>
        <input type="date" id="_birthday" [(ngModel)]="_birthday" name="_birthday" value="{{_birthday}}" class="text-center" [(ngModel)]="_birthday">
        <textarea  placeholder="About Me (Optional)" value="{{_about_me}}" class = "userInput" id = "aboutMe" name="_about_me" [(ngModel)]="_about_me"></textarea>

        <button class="btn btn-primary" id= "submitButton" (click) = "submit()">Submit</button>
        </div>
      </form>
  </div>
