
<div class="form-login">
  <form id="login-form" class="form-container text-center">
      <h2 class="fw-bolder mb-4 text-center">User Login</h2>
      <input type="text" placeholder="Username or Email" id="userName" name="_username" [(ngModel)] = "_username" required>
      <div id="validate-username" class="fst-italic fw-bolder text-danger"></div>
      <input type="password" placeholder="Password" id="password" name="_password" [(ngModel)] = "_password" required>
      <div id="validate-password" class="fst-italic fw-bolder text-danger"></div>
      <div class="col">
        <button type="submit" class="btn btn-primary" (click)="userLogin()">Log In</button>
     </div>
      <a id="reset" class="text-decoration-none" href="#">Forgot Password?</a>
      <div class="border-line"></div>
      <button type="submit" class="mt-3 btn btn-success" (click) = "signupPage()">Create New Account</button>
  </form>
</div>

