body{
  background-color: lightskyblue;
}

#image{
  width: 300px;
  display: flex;
  justify-content: center;
}

.form-edit, #image-container{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
}

/* Add styles to the form container */
.form-container {
  width: 700px;
  padding: 40px;
  background-color: rgb(208, 234, 252);
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid darkgray;
}


/* Set a style for the submit/login button */
.form-container .btn {
background-color:   #3333ff;
color: white;
padding: 16px 20px;
border: none;
cursor: pointer;
width: 100%;
margin-top:10px;
opacity: 0.8;
font-weight: bolder;
border-radius: 10px;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
opacity: 1;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
opacity: 1;
}
