<div class="modal-body form-edit">
  <form class="signUpContainer form-container text-center p-5">

      <div class="d-flex justify-content-evenly" id="image-container">
          <div>
              <img [src]="_user.profilePic" id="image" alt="{{_user.profilePic}}">
          </div>
          <div class="">
              <div>
                  <h2 class="text-center mt-0 ">Account details</h2>
              </div>
              <div class="border-top border-2 border-secondary p-3">
                  <div class="text-start d-flex justify-content-evenly">
                    <div class=" h5 w-25 mt-2 text-primary">Username</div>
                    <div class="h6 w-50 ms-5 mt-2">{{_user.username}}</div>
                  </div>
                  <div class="text-start d-flex justify-content-evenly">
                    <div class=" h5 w-25 mt-2 text-primary">Name</div>
                    <div class="h6 w-50 ms-5 mt-2">{{_user.firstName}} {{_user.lastName}}</div>
                  </div>
                  <div class="text-start d-flex justify-content-evenly">
                    <div class=" h5 w-25 mt-2 text-primary">Email</div>
                    <div class="h6 w-50 ms-5 mt-2">{{_user.email}}</div>
                  </div>
                  <div class="text-start d-flex justify-content-evenly">
                    <div class=" h5 w-25 mt-2 text-primary">Birthdate</div>
                    <div class="h6 w-50 ms-5 mt-2">{{_user.birthday | date: 'MM/dd/yyyy'}}</div>
                  </div>
                  <div class="text-start ms-2">
                    <div class="h5 w-50 mt-2 text-primary">About Me</div>
                    <div class="h6 ms-3 mt-2">{{_user.aboutMe}}</div>
                  </div>
              </div>
          </div>
      </div>


  </form>
</div>

<div class="_pageNumber d-flex justify-content-center">
  <button *ngIf="_pageNumber > 1" (click)="backPage()" class="btn btn-outline-info">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="lightblue" class="bi bi-caret-up-fill"
      viewBox="0 0 16 16">
      <path
        d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
    </svg>
  </button>
</div>

<app-post [_pageNumber]="_pageNumber" [_loggedInUserID]="_userId"></app-post>

<div class="_pageNumber d-flex justify-content-center">
    <button (click)="nextPage()" class="btn btn-outline-info">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="lightblue" class="bi bi-caret-down-fill"
            viewBox="0 0 16 16">
            <path
                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
        </svg>
    </button>
</div>
