<div class="modal-body form-edit">
  <form class="signUpContainer form-container text-center p-5">

      <div class="d-flex justify-content-evenly" id="image-container">
          <div>
              <img [src]="user.profilePic" id="image" alt="{{user.profilePic}}">
          </div>
          <div class="">
              <div>
                  <h4 class="text-center mt-0 ">Account details</h4>
              </div>
              <div class="border-top border-2 border-secondary">
                  <div class="">
                      <label class="">Username</label>
                      <label>{{user.username}}</label>
                  </div>
                  <div>
                      <label for="_first_name" class="">Name</label>
                      <label><span>{{user.firstName}}</span><span>{{user.lastName}}</span></label>
                  </div>
                  <div>
                      <label for="_email" class="">Email</label>
                      <label>{{user.email}}</label>>
                  </div>
                  <div>
                      <label for="_birthday" class="">Birthdate</label>
                      <label>{{user.birthday | date: 'MM/dd/yyyy'}}</label>>
                  </div>
                  <div>
                      <label for="_about_me" class="">About Me</label>
                      <label for="about_me">{{user.aboutMe}}</label>
                  </div>
              </div>
          </div>
      </div>


  </form>
</div>


<app-post [_pageNumber]="_pageNumber"></app-post>
<div class="_pageNumber">
  <button *ngIf="_pageNumber > 1" (click)="backPage()">Back</button> <!-- displays back button if on page 2+ -->
  <input [(ngModel)]="_pageNumber" type="number" min="1" disabled="true">
  <button (click)="nextPage()">Forward</button>
</div>

