<div class="container">
    <div class="row">
        <!-- <img class="img-thumbnail w-25 col-2" [src]="_profilePic"> -->
        <div class="col-3">
            <i [ngClass]="_isEmpty ? 'fas fa-user img-thumbnail p-2' : ''" style='font-size: 500%'></i>
            <img [ngClass]="!_isEmpty ? 'img-responsive d-flex rounded mt-1' : ''" [src]="_user.profilePic" width="100%">
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-4 fw-bold">
                    Username
                </div>
                <div class="col-4 fw-bold">
                    Name
                </div>
                <div class="col-4 fw-bold">
                    Birthday
                </div>
                <div class="col-4">
                    {{_user.username}}
                </div>
                <div class="col-4">
                    {{_user.firstName}} {{_user.lastName}}
                </div>
                <div class="col-4">
                    {{_user.birthday | date: 'MM/dd/yyyy'}}
                </div>
                <div class="fw-bold">
                    About Me:
                </div>
                <div>
                    {{_user.aboutMe}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="_pageNumber d-flex justify-content-center">
    <button *ngIf="_pageNumber > 1" (click)="backPage()" class="btn btn-outline-info">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="lightblue" class="bi bi-caret-up-fill"
            viewBox="0 0 16 16">
            <path
                d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
        </svg>
    </button> <!-- displays back button if on page 2+ -->
</div>

<app-post [_pageNumber]="_pageNumber" [_loggedInUserID]="_userId"></app-post>

<div class="_pageNumber d-flex justify-content-center">
    <button (click)="nextPage()" class="btn btn-outline-info">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="lightblue" class="bi bi-caret-down-fill"
            viewBox="0 0 16 16">
            <path
                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
        </svg>
    </button>
</div>